<section id="smartphone" class="container-fluid pt-5 pb-5 bg-white">
    <h1 class="text-white text-center">BEST LAPTOP</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <div class="container">
                <div class="card bg-light" style="width:300px">
                    <img class="card-img-top" src="../assets/img/lt_macbook.png" alt="Card image" style="max-width:100%; height: 250px;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">MACBOOK</h4>
                        <p class="card-text">The MacBook is a brand of notebook computers manufactured by Apple Inc</p>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <div class="container">
                <div class="card bg-light" style="width:300px">
                    <img class="card-img-top" src="../assets/img/lt_rog.png" alt="Card image" style="max-width:100%; height: 250px;">
                    <div class="card-body text-center">
                        <h4 class="card-title text-center">ASUS ROG</h4>
                        <p class="card-text">the Asus ROG Strix Flare is the latest addition to Asus' lineup of ROG branded devices</p>
                        <a href="#" class="btn btn-primary">Detail</a>
                        <a href="#" class="btn btn-danger">Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3">
            <div class="container">
                <div class="card bg-light" style="width:300px">
                    <img class="card-img-top" src="../assets/img/lt_hp.png" alt="Card image " style="max-width:100%; height: 250px; ">
                    <div class="card-body text-center ">
                        <h4 class="card-title text-center ">HP OMEN</h4>
                        <p class="card-text ">A young global smartphone brand focusing on introducing perfect sound quality</p>
                        <a href="# " class="btn btn-primary ">Detail</a>
                        <a href="# " class="btn btn-danger ">Cart</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-lg-3 ">
            <div class="container ">
                <div class="card bg-light " style="width:300px ">
                    <img class="card-img-top " src="../assets/img/lt_lenovo.png " alt="Card image " style="max-width:100%; height: 250px; ">
                    <div class="card-body text-center ">
                        <h4 class="card-title text-center ">LENOVO THINKPAD</h4>
                        <p class="card-text ">The ThinkPad X1 Carbon is a high-end notebook computer released by Lenovo in 2012</p>
                        <a href="# " class="btn btn-primary ">Detail</a>
                        <a href="# " class="btn btn-danger ">Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>